<div class="h6 p-4 border-bottom section-header ">
Ignacio
</div>
<div class="message-container" id="chatroom-messages" data-chatroom_id="<%= chatroom.id %>">
	<% chatroom.messages.each do |message|%>
		<div class="message-card d-flex px-3 py-2 w-100 border mb-2">
			<div class="user-icon-container">
				<% if message.user.avatar.attached? %>
					<%= image_tag message.user.avatar, :alt => "host icon", :class => "host-icon" %>
				<% else %>
					<%= image_tag("castle.webp", :alt => "host icon", :class => "host-icon") %>
				<% end %>
			</div>
			<div>
				<div>
					<span><%= message.user.first_name %><span>
					<span><%= message.created_at%></span>
				</div>
				<div>
					<%= message.content%>
				</div>
			</div>
		</div>
	<% end %>
	<div>
		<%= form_with(model: @new_message) do |form| %>
			<input type="hidden" name="message[chatroom_id]" value="<%= chatroom.id %>" >
			<input type="hidden" name="message[user_id]" value="<%= current_user.id %>" >
			<input type="text" name="message[content]" class="form-control" >
			<div>
				<%= form.submit %>
			</div>
		<% end %>
	</div>
</div>

