<div id="<%= dom_id listing %>">
  <p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>About:</strong>
    <%= listing.about %>
  </p>

  <p>
    <strong>Default price:</strong>
    <%= listing.default_price %>
  </p>

  <p>
    <strong>Bedroom config:</strong>
    <%= listing.bedroom_config %>
  </p>

  <p>
    <strong>Bedroom count:</strong>
    <%= listing.bedroom_count %>
  </p>

  <p>
    <strong>Bed count:</strong>
    <%= listing.bed_count %>
  </p>

  <p>
    <strong>Bathroom count:</strong>
    <%= listing.bathroom_count %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= listing.host_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= listing.address_id %>
  </p>

</div>
