<div class="container">
<div class="listing-container" data-listingid="<%= listing.id %>">
  <div class="listing-title-and-photoes">
    <div class="h3 my-3"><%= listing.title %><%= listing.id%>
    <div><%# session[:start_date] %></div>
    </div>
    <div class="d-flex flex-row justify-content-between my-3">
      <div class="d-flex align-items-center">
        <div class="d-flex flex-row align-items-center review-overview">
          <i class="material-icons small-start-icon">star</i>
          <span class="average-star font-13 fw-semibold text-decoration-underline">5.0</span>
          <span>&nbsp;&#x2022;&nbsp;</span>
          <% if listing.comments.present? %>
            <span class=""><%= listing.comments.count %> reviews</span>
          <% else %>
            <span class="font-13 fw-semibold text-decoration-underline">NEW</span>
          <% end %>
        </div>
        <span>&nbsp;&#x2022;&nbsp;</span>
        <span class="font-13 fw-semibold text-decoration-underline"><%= listing.address.city %>, <%= listing.address.state %>, <%= listing.address.country %></span>
      </div>
      <div class="d-flex align-items-center">
        <i class="material-icons small-start-icon">share</i>
        <span>&nbsp;</span>
        <span class="font-13 fw-semibold text-decoration-underline" >Share</span>
        <span>&nbsp;&nbsp;</span>
        <i class="material-icons small-start-icon">favorite_border</i>
        <span>&nbsp;</span>
        <span class="font-13 fw-semibold text-decoration-underline">Save</span>
      </div>
    </div>
    <div class="my-3 image-wrapper">
      <button type="button" class="show-all-img-btn">
        <i class="material-icons small-apps-icon">apps</i>
        <span>Show all photos</span>
      </button>


      <div class="image-container">
      <% if listing.images.attached? %>
        <div class="column left">
          <%= image_tag(url_for(listing.images[0]), :alt => "listing main img", :class => "listing-img") %>
        </div>
        <div class="column right">
          <div class="sub-row top">
            <div class="sub-column left top">
              <%= image_tag(url_for(listing.images[1]), :alt => "listing main img", :class => "listing-img") %>
            </div>
            <div class="sub-column right top">
              <%= image_tag(url_for(listing.images[2]), :alt => "listing main img", :class => "listing-img") %>
            </div>
          </div>
          <div class="sub-row"> 
            <div class="sub-column left">
              <%= image_tag(url_for(listing.images[3]), :alt => "listing main img", :class => "listing-img") %>
            </div>
            <div class="sub-column right">
              <%= image_tag(url_for(listing.images[4]), :alt => "listing main img", :class => "listing-img") %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
  <div class="listing-main d-flex flex-row justify-content-between">
    <div class="listing-details-container col-7">
      <div class="listing-overview d-flex flex-row justify-content-between my-4">
        <div>
          <div class="h4">Entire rental unit hosted by Diana</div>
          <div>
            <span class="fw-light">2 guests</span>
            <span>&#x2022;</span>
            <span class="fw-light"><%= listing.bedroom_config.length %><% if listing.bedroom_config.length == 1 %>&nbsp;bedroom<%else%>&nbsp;bedrooms<%end%></span>
            <span>&#x2022;</span>
            <span class="fw-light"><%= listing.bed_count %><% if listing.bed_count == 1 %>&nbsp;bed<%else%>&nbsp;beds<%end%></span>
            <span>&#x2022;</span>
            <span class="fw-light"><%= listing.bathroom_count %><% if listing.bathroom_count == 1 %>&nbsp;bath<%else%>&nbsp;baths<%end%></span>
          </div>
        </div>
        <div class="host-image-container">
          <% if listing.user.avatar.attached? %>
            <%= image_tag listing.user.avatar, :alt => "host icon", :class => "host-icon" %>
          <% else %>
            <%= image_tag("castle.webp", :alt => "host icon", :class => "host-icon") %>
          <% end %>
        </div>
      </div>
      <div class="line-break"></div>
      <div class="listing-highlights my-4">
        <div class="d-flex flex-row my-4">
          <div class="front-icon-container">
            <i class="material-icons">account_circle</i>
          </div>
          <div class="lighlight-disc-container">
            <div class="h6">Diana is a Superhost</div>
            <div>Superhosts are experienced, highly rated hosts who are committed to providing great stays for guests.</div>
          </div>
        </div>
        <div class="d-flex flex-row my-4">
          <div class="front-icon-container">
            <i class="material-icons">location_on</i>
          </div>
          <div class="lighlight-disc-container">
            <div class="h6">Great location</div>
            <div class="highlight">100% of recent guests gave the location a 5-star rating.</div>
          </div>
        </div>
        <div class="d-flex flex-row my-4">
          <div class="front-icon-container">
            <i class="material-icons">vpn_key</i>
          </div>
          <div class="lighlight-disc-container">
            <div class="h6">Great check-in experience</div>
            <div>100% of recent guests gave the check-in process a 5-star rating.</div>
          </div>
        </div>
      </div>
      <div class="line-break"></div>
      <div class="listing-about my-4">
        <div class="my-4 line-clamp-3">
          <%= listing.description %>
        </div>
        <div>

          <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#listingAboutModal">
            Show more >
          </button>

          <div class="modal fade" id="listingAboutModal" tabindex="-1" aria-labelledby="listingAboutModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">About this space</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body mb-5">
                    <%= listing.description %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="line-break"></div>
      <div class="listing-bedrooms my-4">
        <div class="h4">Where you'll sleep</div>
        <div class="container row my-4">
          <% for bedroom_hash in listing.bedroom_config %>
            <%= render :partial => "bedroom_display", :locals => {:bedroom_hash => bedroom_hash} %>
          <% end %>
        </div>
      </div>
      <div class="line-break"></div>
      <div class="listing-amentities my-4">
        <div class="h4">What this place offers</div>
        <div class="feature-collection">
          <% listing.features[0..5].each do |feature| %>
            <div class="feature-container my-4" data-id="<%= feature.id %>">
              <div class="my-2 d-flex flex-row align-middle">
                <% begin %>
                  <%= image_tag("feature_icons/#{feature.name.squish.downcase.tr(' ','_')}.svg", :alt => feature.name + " icon", :class => "feature-icon") %>
                <% rescue %>
                  <%= image_tag("feature_icons/bathtub.svg", :alt => feature.name + " icon", :class => "feature-icon") %>
                <% end %>
                <div class=""><%= feature.name %></div>
              </div>
            </div>
          <% end %>

          <button type="button" class="btn btn-outline-dark py-2 px-3 my-3" data-bs-toggle="modal" data-bs-target="#amenityAllModal">
            <div class="fw-bold m-1">Show all <%= listing.features.count %> amenities</div>
          </button>

          <div class="modal fade" id="amenityAllModal" tabindex="-1" aria-labelledby="amenityAllModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-dialog">
                <div class="modal-content p-3">
                  <div class="modal-header">
                    <h5 class="modal-title" id="amenityAllModalTitle">What this place offers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <% listing.get_registered_feature_types.each do |type| %>
                      <div class="h6 mb-5">
                      <%= type %>
                      <% listing.features.select{ |f| f.feature_type.name == type }.each do |feature| %>
                        <div class="feature-container my-4" data-id="<%= feature.id %>">
                          <div class="my-2 d-flex flex-row align-middle fw-normal">
                            <% begin %>
                              <%= image_tag("feature_icons/#{feature.name.squish.downcase.tr(' ','_')}.svg", :alt => feature.name + " icon", :class => "feature-icon") %>
                            <% rescue %>
                              <%= image_tag("feature_icons/bathtub.svg", :alt => feature.name + " icon", :class => "feature-icon") %>
                            <% end %>
                            <div class=""><%= feature.name %></div>
                          </div>
                          <div class="line-break my-4"></div>
                        </div>
                      <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="line-break"></div>
      <div class="listing-datepick my-4">
        <div class="h4 my-4 datepick-header checkin">
          <div>Select check-in date</div>
          <div class="text-muted font-13 fw-light mt-2">Add your travel dates for exact pricing</div>
        </div>
        <div class="h4 my-4 datepick-header checkout d-none">
          <div>Select checkout date</div>
          <div class="text-muted font-13 fw-light mt-2">Minimum stay: 1 nights</div>
        </div>
        <div class="h4 my-4 datepick-header summary d-none">
          <div>
            <span class="day-count"></span>
            <span> in <%= listing.address.city %></span>
          </div>
          <div class="text-muted font-13 fw-light mt-2">
            <span class="checkin-date"></span>
            <span class="">-</span>
            <span class="checkout-date"></span>
          </div>
        </div>
        <div class="calendar-container" id="listingCalendar">

          <%= render partial: "simple_calendar/custom_double_side_calendar", locals: { show_booked_dates: true } %>
        </div>
        <div class="d-flex justify-content-end">
          <div class="date-clear-btn">Clear dates</div>
        </div>
        
      </div>
      
    </div>

    <div class="listing-pricing col-4 my-4 ">
      <div class="pricing-container ">
        <div class="listing-popover guest d-none">
          <%= render partial: "listings/popover_guest" %>
        </div>
        <form id="booking-request-form" action="<%= listing_calculate_cost_path(listing) %>" method="POST">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-between align-items-center my-3">
              <div class="">
                <span class="fs-4"><%= ActionController::Base.helpers.number_to_currency(listing.default_price,  precision: 0) %></span>
                <span>night</span>
              </div>
              <div class="d-flex flex-row align-items-center review-overview">
                <i class="material-icons small-start-icon">star</i>
                <span class="average-star">5.0</span>
                <span>&nbsp;&#x2022;&nbsp;</span>
                <button type="button" class="show-all-reviews-btn" data-bs-toggle="modal" data-bs-target="#reviewsAllModal">
                  <span class=""><%= listing.comments.count %> reviews</span>
                </button>
              </div>
            </div>
            <div class="rounded border border-secondary border-opacity-50 my-2">
              <div class="d-flex flex-row justify-content-between">
                <div class="border-end border-bottom border-secondary border-opacity-50 flex-fill p-2" >
                  <div class="check-in-title">Check-in</div>
                  <input name="start_date" class="check-in-date" type="text" placeholder="Add date" readonly>
                </div>
                <div class="border-bottom border-secondary border-opacity-50 flex-fill p-2">
                  <div class="check-in-title">Check-out</div>
                  <input name="end_date" class="check-out-date" type="text" placeholder="Add date" readonly>
                </div>
              </div>
              <div class="p-2 guest-selection d-flex flex-column">
                <div class="guests-title">Guests</div>
                <input name="guest_count" class="guest-count" type="text" placeholder="" readonly value="1 guest">
              </div>
            </div>
            <div class="my-2 availability-btn-wrapper">
              <button type="button" class="w-100 availability-btn">Check availability</button>
            </div>
            <div class="cost-calculation d-flex flex-column d-none">
              <div class="my-2">
                <% if user_signed_in? %>
                  <button type="submit" class=" w-100 reserve-btn">Reserve</button>
                <% else %>
                  <button type="button" class="w-100 reserve-btn" id="redirect-to-signin-btn">Reserve</button>
                <% end %>
              </div>
              <div class="text-center charging-note mb-3 mt-2">You won't be charged yet</div>
              <div id="cost-breakdown"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="line-break"></div>

  <div class="listing-reviews my-4">
    <div class="h4 mb-4"><%= listing.comments.count %> reviews</div>
    <div class="container">
      <div class="row align-items-center">
        <% if listing.comments.exists? %>
          <% listing.comments.each do |comment| %>
            <div class="col-lg-6 review-wrapper">
              <div class="review-header d-flex flex-col mb-2">
                <div class="user-icon-container">
                  <% if comment.user.avatar.attached? %>
                    <%= image_tag comment.user.avatar, :alt => "host icon", :class => "host-icon" %>
                  <% else %>
                    <%= image_tag("castle.webp", :alt => "host icon", :class => "host-icon") %>
                  <% end %>
                </div>
                <div>
                  <div class="comment-user-name fw-bold"><%= comment.user.display_name %></div>
                  <div class="comment-date text-black-50"><%= comment.created_at %></div>
                </div>
              </div>
              <div class="review-body">
                <%= comment.body %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <button type="button" class="btn btn-outline-dark py-2 px-3 my-3" data-bs-toggle="modal" data-bs-target="#reviewsAllModal">
      <div class="fw-bold m-1">Show all <%= listing.comments.count %> comments</div>
    </button>

    <div class="modal fade" id="reviewsAllModal" tabindex="-1" aria-labelledby="reviewsAllModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-dialog">
          <div class="modal-content p-3">
            <div class="modal-header">
              <h5 class="modal-title" id="reviewsAllModalTitle"> <%= listing.comments.count %> Reviews</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% if listing.comments.exists? %>
                <% listing.comments.each do |comment| %>
                  <div class="mb-5 review-wrapper">
                    <div class="review-header d-flex flex-col mb-2">
                      <div class="user-icon-container">
                        <% if comment.user.avatar.attached? %>
                          <%= image_tag comment.user.avatar, :alt => "host icon", :class => "host-icon" %>
                        <% else %>
                          <%= image_tag("castle.webp", :alt => "host icon", :class => "host-icon") %>
                        <% end %>
                      </div>
                      <div>
                        <div class="comment-user-name fw-bold"><%= comment.user.display_name %></div>
                        <div class="comment-date text-black-50"><%= comment.created_at %></div>
                      </div>
                    </div>
                    <div class="review-body">
                      <%= comment.body %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="line-break"></div>

  <div class="listing-map my-4">
    <div class="h4 my-4">Where you'll be</div>
    <p class="font-15 mb-4"><%= listing.address.city %>, <%= listing.address.state %>, <%= listing.address.country %></p>
    <div id="map" class="mb-5" data-lat="<%= listing.address.latitude %>" data-lon="<%= listing.address.longitude %>" data-marker="<%= image_path("pink-circle-marker.svg")%>" ></div>
  </div>

  <div class="line-break"></div>

  <div class="listing-host my-4">
    <div class="h4">Hosted by <%=listing.user.display_name%></div>
    <div class="my-2">
      <% if user_signed_in? %>
        <% if listing.user_id == current_user.id %>
          <button type="" class="contact-host-btn cursor-not-allowed">Contact Host</button>
        <% else %>
          <form id="create-chatroom-form" action="/chatrooms" method="POST">
            <input type="hidden" id="liting_id" name="listing_id" value="<%=listing.id%>">
            <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">
            <button type="submit" class="contact-host-btn <% if listing.user_id == current_user.id %> cursor-not-allowed <% end %>">Contact Host</button>
          </form>
        <% end %>
      <% else %>
        <button type="button" class="contact-host-btn redirect-to-signin-btn" id="">Contact Host</button>
      <% end %>
    </div>
  </div>

  <div class="line-break"></div>

  <div class="listing-rules my-4">
    <div class="h4">Things to know</div>
  </div>
  


</div>
<div id="<%= dom_id listing %>" class="d-none">
  <p>
    <strong>Default price:</strong>
    <%= listing.default_price %>
  </p>

  <p>
    <strong>Bedroom config:</strong>
    <%= listing.bedroom_config %>
  </p>

  <p>
    <strong>Bedroom count:</strong>
    <%= listing.bedroom_count %>
  </p>

  <p>
    <strong>Bed count:</strong>
    <%= listing.bed_count %>
  </p>

  <p>
    <strong>Bathroom count:</strong>
    <%= listing.bathroom_count %>
  </p>

  <p>
    <strong>User:</strong>
    <%= listing.user_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= listing.address_id %>
  </p>

</div>

<div>
  <%= link_to "Edit this listing", edit_listing_path(listing) %> |
  <%= link_to "Back to listings", listings_path %>

  <%= button_to "Destroy this listing", listing, method: :delete %>
</div>

<div id="photoGalleryModal" class="photo-modal custom-modal d-none">
  <div class="custom-modal-header">
     <div class="d-flex align-items-center close-btn">
        <i class="material-icons">chevron_left</i>
    </div>
     <div class="d-flex align-items-center">
        <i class="material-icons small-start-icon">share</i>
        <span>&nbsp;</span>
        <span class="font-13 fw-semibold text-decoration-underline" >Share</span>
        <span>&nbsp;&nbsp;</span>
        <i class="material-icons small-start-icon">favorite_border</i>
        <span>&nbsp;</span>
        <span class="font-13 fw-semibold text-decoration-underline">Save</span>
      </div>
  </div>
  <div class="custom-modal-content">
    <div class="all-img-modal">
      <div class="image-gallery-wrapper">
        <div class="gallery-container mb-2">
          <div class="single-row-example mb-1">
          </div>
          <div class="double-row-example mb-1 d-flex">
            <div class="left">
            </div>
            <div class="right">
            </div>
          </div>
        </div>

        <% if listing.images.attached? %>
          <% listing.images.each do |img| %>
            <%= image_tag(url_for(img), :alt => "listing main img", :class => "listing-img original-img d-none") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>

</div>
