<div class="listings-page-wrapper">
<div class="listings-wrapper">

  <p style="color: green"><%= notice %></p>
  <h2><%= session['whatever'] %></h2>

  <div id="listings" class="listings-main">
    <% @listings.each do |listing| %>
      <div class="listing-block" data-id="<%= listing.id %>" data-lat="<%= listing.address.latitude %>" data-lon="<%= listing.address.longitude %>" data-rate="<%= ActionController::Base.helpers.number_to_currency(listing.default_price,  precision: 0) %>">
        
          <div class="listing-imgs-container">
            <button class="fav-btn"><i class="material-icons fav-icon">favorite_border</i></button>
            <button class="back-btn slide-btn d-none"><i class="material-icons">keyboard_arrow_left</i></button>
            <button class="forward-btn slide-btn"><i class="material-icons">keyboard_arrow_right</i></button>
            <a href="<%= listing_path listing.id %>">
              <div class="listing-imgs-collection">
                <% if listing.images.attached? %>
                    <% listing.images.each_with_index do |image, index| %>
                      <% if index == 0 %>
                        <%= image_tag(url_for(image), :alt => "listing main img", :class => "listing-img show first-img", :data => {:index => index }) %>
                      <% elsif (index > 0) && (index < listing.images.length-1 ) %>
                        <%= image_tag(url_for(image), :alt => "listing main img", :class => "listing-img hide-right", :data => {:index => index }, loading: "lazy")  %>
                      <% else %>
                        <%= image_tag(url_for(image), :alt => "listing main img", :class => "listing-img hide-right last-img", :data => {:index => index }, loading: "lazy") %>
                      <% end %>
                    <% end %>
                <% end %>
              </div>
            </a>
          </div>
          <div class="listing-title d-flex flex-row justify-content-between mt-2">
            <div>
              <%= listing.address.city %>, <%=listing.address.state%>
            </div>
            <div class="d-flex align-items-center">
              <i class="material-icons small-start-icon">star</i>
              <span>5.0</span>
            </div>
          </div>
          <div class="listing-distance-date">
            <div class="listing-display-title"><%= listing.title %></div>
            <div class="d-none">Oct 16 - 21</div>
          </div>
          <div class="listing-unit-price">
            $<span class="price-number"><%= number_with_precision(listing.default_price.round(0), precision: 0) %></span> night
          </div>

      </div>
      
    <% end %>
  </div>
</div>
<div class="map-wrapper d-none">
  <div id="searchMap" class="listings-map" data-marker="<%= image_path("custom_oval.svg")%>">

  </div>
</div>

<button type="button" class="switch-to-map-btn d-flex align-items-center">
  <div>Show map</div>
  <i class="material-icons">map</i>
</button>
<button type="button" class="switch-to-listing-btn d-none d-flex align-items-center">
  <div>Show listing</div>
  <i class="material-icons">format_list_bulleted</i>
</button>


<% if user_signed_in? %>
  <%# link_to "New listing", new_listing_path %>
<% end %>

</div>
