<div class="container p-5">
	<div class="user-profile-frame d-flex">
		<div class="profile-overview">
			<div class="profile-image-wrapper justify-content-center">
        <div class="host-image-container">
          <% if @user.avatar.attached? %>
                  <%= image_tag @user.avatar, :alt => "host icon", :class => "host-icon" %>
          <% else %>
              <div class="user-icon-wrapper large logged-in d-flex justify-content-center align-items-center">
                  <i class="material-icons ">person</i>
              </div>
          <% end %>
        </div>
			</div>

			<div class="d-flex align-items-center mb-3">
				<i class="material-icons mr-6px">star_border</i>
				<div class="font-15 weight-500 ">No reviews</div>
			</div>
			<div class="d-flex align-items-center mb-3">
				<i class="material-icons mr-6px">assignment_ind</i>
				<div class="font-15 weight-500">Identity verified</div>
			</div>
			<div class="line-break my-4"></div>
			<div class="h5 mb-4"><%= current_user.display_name%>'s confirmed information</div>
			<div class="d-flex align-items-center mb-2">
				<i class="material-icons check-icon mr-6px">check</i>
				<div class="weight-300 font-15">Identity</div>
			</div>
			<div class="d-flex align-items-center mb-2">
				<i class="material-icons check-icon mr-6px">check</i>
				<div class="weight-300 font-15">Email address</div>
			</div>
			<div class="d-flex align-items-center mb-2">
				<i class="material-icons check-icon mr-6px">check</i>
				<div class="weight-300 font-15">Phone number</div>
			</div>
			<div class="mt-4 font-13 color-blk">
				<span class="text-decoration-underline weight-500">Learn more</span> 
				<span class="weight-300">about how confirming account info helps keep the Airbnb community secure.</span>
			</div>
		</div>
		
		<div class="profile-details">
			<div class="mb-5">
				<div class="h2">Hi, I’m <%= current_user.display_name%></div>
				<div class="font-13 text-muted font-300 mt-0">Joined since <%= current_user.created_at.strftime('%Y')%></div>
			</div>
			<div>
				<div class="h5 mb-3">About</div>
				<div class="d-flex align-items-center mb-2">
					<i class="material-icons font-18 mr-6px">home</i>
					<div class="weight-300 font-15">Lives in San Cristobal de La Laguna, Spain</div>
				</div>
				<div class="d-flex align-items-center mb-2">
					<i class="material-icons font-18 mr-6px">language</i>
					<div class="weight-300 font-15">Speaks English, Español</div>
				</div>
			</div>
			<div class="line-break my-4"></div>
			<div>
				<div class="h5 mb-3"><%= current_user.display_name%>'s listings</div>
				<% if @user.listings.present? %>
					<div class="d-flex profile-listing-container">
						<% @user.listings.each do |listing |%>
							<%= render 'users/sessions/listing_in_profile_partial', listing: listing %>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="line-break my-4"></div>
			<div>
				<div class="d-flex align-items-center mt-2">
					<i class="material-icons font-18 mr-6px">star</i>
					<div class="h5 mb-0"><%= current_user.display_name%>'s Reviews</div>
				</div>
				
			</div>
		</div>
	</div>

</div>