
<div class="d-flex position-fixed w-100 messages-page-wrapper">
  <div class="chatroom-wrapper border-end">
    <div class="h6 p-4 border-bottom section-header ">
      <% if @selected_chatroom != nil %>
        <% displayed_chatroom = @selected_chatroom %>
      <% else %>
        <% displayed_chatroom = current_user.get_chatrooms_as_host[0] %>
      <% end %>
      <div class="font-18">Messages</div>
    </div>
    <div class="px-3 chatroom-list">
      <% if current_user.get_chatrooms_as_host == 0 %>
      no chatrooms
      <% else %>
      <% current_user.get_chatrooms_as_host.each do |chatroom| %>
        <div class="chatroom-card d-flex <% if chatroom == displayed_chatroom %>selected <% end %>" data-chatroom_url="http://localhost:3000/chatrooms/chatrooms_as_host/<%=chatroom.id%>" data-messages_url="<%= messages_as_host_messages_url%>" data-details_url="<%= get_chatroom_details_as_host_chatrooms_url%>" data-id="<%= chatroom.id%>" >
          <div>
            <div class="user-icon-container">
              <% if chatroom.guest_user.avatar.attached? %>
                <%= image_tag chatroom.guest_user.avatar, :alt => "host icon", :class => "host-icon" %>
              <% else %>
                <%= image_tag("castle.webp", :alt => "host icon", :class => "host-icon") %>
              <% end %>
            </div>
          </div>
          <div>
            <div class="font-14 mb-1">
              <span><%= chatroom.guest_user.display_name %><%= chatroom.id %></span>
              <span>&#x2022;</span>
              <span class="text-muted"><%= chatroom.listing.address.city %></span>
            </div>
            <div class="font-14 mb-1"><%= chatroom.listing.title%></div>
          </div>
        </div>

        <% if chatroom != current_user.get_chatrooms_as_host[-1] %>
            <div class="line-break <% if chatroom == displayed_chatroom %>hidden <% end %> "></div>
        <% end %>
    
      <% end %>
      <% end %>
      
    </div>
  </div>
  <div class="flex-grow-1 d-flex">
    <div class="message-wrapper w-50 border-end flex-grow-1 ">
      <% if current_user.get_chatrooms_as_host == 0 %>
        No messages
      <% else %>
      <%= render partial: "/messages/messages_as_host_partial", locals: { chatroom: displayed_chatroom } %>
      <% end %>
    </div>
    <div class="booking-details-wrapper border-end">
      <div class="font-18 p-4 border-bottom section-header ">
        Details
      </div>
      <div class="detail-container">
        <% if current_user.get_chatrooms_as_host == 0 %>
        <% else %>
        <%= render partial: "chatroom_as_host_details_partial", locals: { chatroom: displayed_chatroom } %>
        <% end %>
      </div>

    </div>
  </div>
</div>


