
<div class="container calendar-overwrapper p-0" data-current="<%= Date.current %>" data-start="" data-end="">
    <div class="row">
        <div class="col calendar-wrapper calendar-first-month calendar-show left">
            <div class="calendar-arrow back">
                <i class="material-icons">keyboard_arrow_left</i>
            </div>
            <div class="calendar-arrow forward">
                <i class="material-icons">keyboard_arrow_right</i>
            </div>
            <%= month_calendar(show_booked_dates: show_booked_dates, show_selected_dates: show_selected_dates) do |date| %>
                <%= date %>
            <% end %>
        </div>
        <div class="col calendar-wrapper calendar-show right">
            <div class="calendar-arrow back">
                <i class="material-icons">keyboard_arrow_left</i>
            </div>
            <div class="calendar-arrow forward">
                <i class="material-icons">keyboard_arrow_right</i>
            </div>
            <%= month_calendar(start_date: (Date.current+1.month).beginning_of_month, show_booked_dates: show_booked_dates, show_selected_dates: show_selected_dates) do |date| %>
                <%= date %>
            <% end %>
        </div>
        <% (2..23).each do |number| %>
            <div class="col calendar-wrapper hide">
                <div class="calendar-arrow back">
                    <i class="material-icons">keyboard_arrow_left</i>
                </div>
                <div class="calendar-arrow forward">
                    <i class="material-icons">keyboard_arrow_right</i>
                </div>
                <%= month_calendar(start_date: (Date.current+number.month).beginning_of_month, show_booked_dates: show_booked_dates, show_selected_dates: show_selected_dates) do |date| %>
                    <%= date %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>